<%- include('layout/login-head.ejs') %>

<div>
    <h1 class="text-3xl m-10">
        <span class="block font-normal text-white/75 mb-1">Welcome to</span>
        <strong class="block font-extrabold">ALGOWALLET</strong>
    </h1>
</div>

<%- include('layout/login-foot.ejs') %>