<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALGOWALLET | Hold with ease</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/notyf.min.css">
</head>

<body class="bg-gray-800 h-screen text-white">
    <div
        class="h-full relative grid grid-rows-dashboard-header lg:grid-rows-dashboard-header-lg lg:grid-cols-dashboard-header-lg lg:w-8/12 mx-auto lg:mt-16 gap-x-12 gap-y-3">