<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALGOWALLET | Hold with ease</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/notyf.min.css">
</head>

<body class="bg-gray-800 h-screen text-white">
    <div class="h-full grid grid-rows-welcome-header lg:grid-rows-welcome-header-lg lg:grid-cols-welcome-header-lg">
        <!-- LOGO -->
        <div class="bg-gray-700 rounded-br-3xl mr-10 lg:mb-10">
            <a href="/" class="hover:text-gray-400">
                <svg role="img" class="h-full w-full lg:p-24">
                    <use xlink:href="/img/sprite.svg#graphics-logo"></use>
                </svg>
            </a>
        </div>
        <!-- END/LOGO -->