<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALGOWALLET | Hold with ease</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body class="bg-gray-dark h-screen text-white">
    <div class="h-full grid grid-rows-welcome-header">
        <!-- LOGO -->
        <div class="bg-gray-light rounded-br-3xl mr-10">
            <svg role="img" class="h-full w-full">
                <use xlink:href="/img/sprite.svg#graphics-logo"></use>
            </svg>
        </div>
        <!-- END/LOGO -->