</div>
</body>
<script src="/scripts/axios/axios.min.js"></script>
<script src="/scripts/notyf/notyf.min.js"></script>
<script>
    var notyf = new Notyf({
        ripple: false,
        position: {
            x: 'center',
            y: 'bottom'
        }
    });
</script>
</html>